.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homePageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   gap: 10px;
    
    background-image: url("../images/grediant.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
     padding-left: 10px;
    padding-right: 10px; 
}
.heading{
    margin: auto;
    text-align: center;
}
.heading>h1{
    font-size: 40px;
   
    font-weight: bold;
    line-height: 110%;
}

.recordsCotainer{
    width: 100%;
    height: 600px;
    margin-top: 20px;
    
}
.tabs{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: space-between;


}
.records{
    width: 100%;
    height: 88%;
   
    justify-content: space-between;
    display: flex;

}
.records>div{
    width: 49%;
    height: 100%;
   
}
.record>div{
    width: 100%;
    height: 20%;
    
}
.tabs>div{
    width: 20%;
    height: 95%;
    
}
.tabs>div>div{
    width: 50%;
    height: 100%;
   
}

.lastGrid{
    padding: 15px ;
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.lastGrid>div{
    height: 300px;
 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}
.lastGrid>div>img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
 


}
.lastGrid>div>div{
    background-color: white;
   padding: 10px;
   height: 60px;
}
.lastGrid>div>div>span{
    margin-top: 30px;
    font-size: 17px;
   font-weight: 600;
}
h2{
    margin-left: 10px;
    margin-bottom: 10px;
}

.nft{
    display: flex;
    justify-content: space-between;

}
.nft>div>button{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}
.nft>div>span{
    margin-left: 10px;
    
}
.tab{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tab>div>select{
 
    padding: 15px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
    color: gray;
    border: none;
}

.tab>div>button{
    padding: 15px 30px ;
    font-size: 18px;
    font-weight: 550;
    background-color: white;
    color: gray;
    border-radius: 5px;
    border: none;

}
.tabular{
    width: 100%;
    display: flex;
    gap: 10px;

}
.tabular>div{
    width: 49%;
    display: flex;
    padding-left: 10px;
    justify-content: space-evenly;
}
.record>div{
display: flex;
cursor: pointer;



}
.record>div>div{
    width: 30%;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 550;
    margin-left: 10px;
    justify-content: space-between;
}
.record>div>div>img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 100px;
}
.record>div>div{
    margin-right: 100px;
}

