.productCrousel{
    position: relative;
    overflow: hidden;
    padding: 26px;
    border: 1px solid red;
}
.product-container{
  
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.prev,.next{
        border: none;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 40%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
   
}
.next{
        right: 0;
}
