body {
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 70px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;

}
.logoSection{
  width: 15%;
  height: 80%;

 display: flex;
 justify-content: center;
 align-items: center;

}
.logoSection>img{
    width: 180px;
   
}
.searchSection{
    width: 33%;
    height: 70%;
    
    display: flex;
   align-items: center;
   padding-left: 5px;
   border-radius: 10px;
   background-color: #dfebfa61;
}
.searchSection>input{
width: 90%;
height: 35px;
font-size: 16px;
color: #8b949c;
border: none;
outline: 0;
margin-left: 2px;
font-weight: 550;
background-color: #dfebfa2c;
letter-spacing: .01cm;
}
.searchSection:hover {
    background-color: white;
}
.searchSection:hover input:hover {
    background-color: white;
}
.menuTabs{
    width: 43%;
    height: 90%;
    
    padding-right: 15px;
}

.menuTabs>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menuTabs>ul>li{
   border: 1px solid black;
    padding-top: 5px;
    height: 100%;
    padding-bottom: 10px;
    
}
.menuTabs>ul>li:nth-child(5){
    padding-top: 3px;
  
}
.menuTabs>ul>li:nth-child(6){
    padding-top: 3px;
    ;
}
.menuTabs>ul>li:nth-child(7){
    padding-top: 3px;
  
}
.menuTabs>ul>li>a{
    text-decoration: none;
    font-size: 17;
    font-weight: 650;
    
    color: #323d47;
}

.dropDown{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 200px;
    height: 550px;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    top: 60px;
    left: 57%;
    text-align: center;
    display: none;
    background-color: white;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    opacity: 1;
    z-index: 999; 
}
.dropDown>ul{
    list-style: none;
   box-sizing: border-box;
    padding: 0;
    position: sticky;
}
.dropDown>ul>li{
    width: 180px;
    height: 55px;
   
   display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.749);    
}
.dropDown>ul>li>img{
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}
.dropDown>ul>li>a{
    margin-left: 10px;
    margin-top: 15px;
   text-decoration: none;
   font-size: 16px;
   color: #323d47;
   font-weight: 650;
  
   display: inline-block;

}
.menuTabs>ul>li:hover .dropDown{
    display: block;
    position: absolute;
    opacity: 1;
    z-index: 999;
    box-sizing: border-box;
   
}
.dropDownStats{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 200px;
    
    border-radius: 10px;
    position: absolute;
    top: 68px;
    left: 64%;
    text-align: center;
    display: none;
    background-color: white;
    list-style: none;

    padding: 0;
}
.dropDownStats>ul{
    list-style: none;
 width:100%;
   padding-left: 0;
    padding: 0;
    z-index: 999;
   
}
.dropDownStats>ul>li{
    width: 100%;
    height: 55px;
   
   display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.749);    
}
.dropDownStats>ul>li>a{
    margin-left: 10px;
    margin-top: 15px;
   text-decoration: none;
   font-size: 16px;
   color: #323d47;
   font-weight: 650;
  
   display: inline-block;

}
.menuTabs>ul>li:nth-child(2):hover .dropDownStats{
    display: block;
}




.dropDownResour{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 200px;
    
    border-radius: 10px;
    position: absolute;
    top: 68px;
    left: 70%;
    text-align: center;
    display: none;
    background-color: white;
    list-style: none;

    padding: 0;
}
.dropDownResour>ul{
    list-style: none;
 width:100%;
   padding-left: 0;
    padding: 0;
   
}
.dropDownResour>ul>li{
    width: 100%;
    height: 55px;
   
   display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.749);    
}
.dropDownResour>ul>li>a{
    margin-left: 10px;
    margin-top: 15px;
   text-decoration: none;
   font-size: 16px;
   color: #323d47;
   font-weight: 650;
  
   display: inline-block;

}
.menuTabs>ul>li:nth-child(3):hover .dropDownResour{
    display: block;
}


.dropDownProfile{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 250px;
    
    border-radius: 10px;
    position: absolute;
    top: 68px;
    left: 70%;
    text-align: center;
    display: none;
    background-color: white;
    list-style: none;

    padding: 0;
}
.dropDownProfile>ul{
    list-style: none;
 width:100%;
   padding-left: 0;
    padding: 0;
   
}
.dropDownProfile>ul>li{
    width: 94%;
    height: 55px;
   padding-left: 15px;
   display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.749);    
}
.dropDownProfile>ul>li>a{
    margin-left: 10px;
    margin-top: 15px;
   text-decoration: none;
   font-size: 16px;
   color: #323d47;
   font-weight: 650;
  
   display: inline-block;

}
.menuTabs>ul>li:nth-child(5):hover .dropDownProfile{
    display: block;
}

.mobileSize{
    width: 20%;
    display: none;
}
.mobileSize>ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.searchIcon{
    display: none;
}
@media only screen and (max-width: 600px) {
    .searchSection{
        display: none;
    }
    .menuTabs{
        display: none;
    }
    .mobileSize{
        display: block;
        width: 30%;
        justify-content: space-between;
        
    }
    .searchIcon{
        display: block;
    }
    .mobileSize>ul{
        width: 100%;
        justify-content: space-between;
    }
    .logoSection>img{
        width: 150px;
    }

}

@media (min-width: 600px) and (max-width: 1000px){
    .searchSection{
        width: 60%;
        margin-left: 10px;
       }
        .menuTabs{
            display: none;
        }
      
        .mobileSize{
            display: flex;
            width: 15%;
            justify-content: space-between;
            
        }
        .searchIcon{
            display: none;
        }
        .mobileSize>ul{
            width: 100%;
            justify-content: space-between;
        }
        .logoSection>img{
            width: 160px;
        }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .searchSection{
        width: 60%;
        margin-left: 10px;
       }
        .menuTabs{
            display: flex;
            width: 20%;
           
            
        }
        .menuTabs>ul{
            width: 100%;
        }
        .menuTabs>ul>li:nth-child(1){
            display: none;
        }
        .menuTabs>ul>li:nth-child(2){
            display: none;
        }
        .menuTabs>ul>li:nth-child(3){
            display: none;
        }
        .menuTabs>ul>li:nth-child(4){
            display: none;
        }
       
        .searchIcon{
            display: none;
        }
        .mobileSize{
            display: none;
        }
            
        .logoSection>img{
            width: 160px;
        }
}

@media (min-width: 1200px) and (max-width: 1800px){
    .searchSection{
        width: 40%;
        margin-left: 10px;
       }
        .menuTabs{
            display: flex;
            width: 45%;
            
            
        }
        .menuTabs>ul{
            width: 100%;
        }
        .menuTabs>ul>li:nth-child(8){
            display: none;
        }
       
       
        .searchIcon{
            display: none;
        }
        .mobileSize{
            display: none;
        }
            
        .logoSection>img{
            width: 160px;
        }
}
